@import "tailwindcss";

:root {
  --primary: #dd726c;
  --secondary: #3a515f;
  --background: #1f1f1f;
}


@theme {
  --font-lexend: "Lexend", "sans-serif";
  --font-oswald:  "Oswald", "sans-serif";
  --font-sans: "Lexend", "sans-serif";

  --color-primary: #f36c6c;

  --color-secondary: #2e525e;
  --color-secondary-light: #43646b;

  --color-background: #f0eae0;
  --color-background-light: #f3e9e1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--secondary);
}
