@import "tailwindcss";

:root {
  --primary: #dd726c;
  --secondary: #3a515f;
  --background: #1f1f1f;
}


@theme {
  
  --font-lexend: "Lexend", "sans-serif";
  --font-oswald:  "Oswald", "sans-serif";
  --font-sans: "Lexend", "sans-serif";

  --color-primary: #dd726c;
  /* --color-primary-light { background-color: #e5908b; }
  --color-primary-dark { background-color: #c5554f; } */

  --color-secondary: #3a515f;
  /* --color-secondary-light { background-color: #516a7a; }
  --color-secondary-dark { background-color: #2c3e4a; } */

  --color-background: #f0eae0;
  
  /* --color-background-light { background-color: #f7f4ee; }
  --color-background-dark { background-color: #e5dfd2; } */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--secondary);
}
